* {
	box-sizing: border-box;
	text-align: center;
}

body {
	background: #000000;
 	color: white; 		
	font-size: 40px;
}

.format {
	position: center;
}


input {
	padding: 5px;
	border-radius: 5px;
	background: #cdeefd;
}


input:hover {
	border: 3px solid #187bcd;
	color: black;
}

button {
	padding: 5px;
	border-radius: 5px;
	background-color: #cdeefd; 
	color: gray;
}

button:hover {
	background-color: #2a9df4;
	transition: 0.5s; 
	color: black;
}

/*media queries*/

@media (min-width: 1201px) {
	input, button {
		width: 40%;
		margin-left: 300px;
		margin-right: 300px;
	}
}

@media (min-width: 1025px) and (max-width: 1200px) {
	input, button {
		width: 40%;
		margin-left: 300px;
		margin-right: 300px;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	input, button {
		width: 60%;
		margin-left: 150px;
		margin-right: 150px;
	}	
}

@media (min-width: 481px) and (max-width: 768px) {
	input, button {
		width: 82%;
		margin-left: 48px;
		margin-right: 48px;
	}
}

@media (min-width: 320px) and (max-width: 480px) {
	input, button {
		width: 82%;
		margin-left: 40px;
		margin-right: 40px;
	}
}